Regression: websocket Sec-WebSocket-Key/Accept check wrong

in commit 82d071419804b3c9a20215973b28ce4f5cecb8d0 / https://github.com/FreeRDP/FreeRDP/pull/8053
you changed the Sec-WebSocket-Key generation and check.

You are right that previously only a random opaque key was generated. This was, as you said, not in spec.

BUT: The  Sec-WebSocket-Accept is calcualted like this (example from rfc)
```
Concretely, if as in the example above, the |Sec-WebSocket-Key|
   header field had the value "dGhlIHNhbXBsZSBub25jZQ==", the server
   would concatenate the string "258EAFA5-E914-47DA-95CA-C5AB0DC85B11"
   to form the string "dGhlIHNhbXBsZSBub25jZQ==258EAFA5-E914-47DA-95CA-
   C5AB0DC85B11".  The server would then take the SHA-1 hash of this,
   giving the value 0xb3 0x7a 0x4f 0x2c 0xc0 0x62 0x4f 0x16 0x90 0xf6
   0x46 0x06 0xcf 0x38 0x59 0x45 0xb2 0xbe 0xc4 0xea.  This value is
   then base64-encoded (see [Section 4 of [RFC4648]](https://datatracker.ietf.org/doc/html/rfc4648#section-4)), to give the value
   "s3pPLMBiTxaQ9kYGzzhZRbK+xOo=".  This value would then be echoed in
   the |Sec-WebSocket-Accept| header field.
```

freerdp now uses the decoded base64 string sent in Sec-WebSocket-Key instead of the encoded. This breaks websocket connections.

If you have a server (I suppose) that uses the decoded version of Sec-WebSocket-Key, this implementation is wrong. The server side is not supposed to decode Sec-WebSocket-Key and use it as opaque string (removing every space). There is not really a reason why a base64 encoded string is used in the first place other than restricting the available characters (letters, numbers +, -, = , no spaces)


as for the previous 400 HAProxy error that was mentioned:
https://github.com/haproxy/haproxy/commit/c193823343192014e7ebfe99a9bb1562c83ec81e
the reason here is that they (rightfully) expect that a 16byte random number translates to a 24 byte long base64 string. That was the only thing they checked. There was no base64 decode.

@akarl10 please have a look at https://github.com/FreeRDP/FreeRDP/pull/8167 if it fixes the issue for you too (I already tested with HAProxy).